<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultas Predefinidas</title>
</head>

<body>
    <h2 class="title">Consultas Predefinidas</h2>
    Consultas SQL
    <!-- TODO: Crear las consultas asociadas a estas cosas cuando tengamos -->
    <ol>
        <li> 
            Mostrar todos los restaurantes que ofrezcan el plato <input placeholder="nombre_plato"> y que esté disponible.
            <button>consultar</button>
        </li>

        <li>
            Mostrar todos los pedidos concretados del usuario con email <input placeholder="odiobdd@gmail.com"> y su gasto mensual.
            <button>consultar</button>
        </li>

        <li>
            Mostrar todos los pedidos concretados o cancelados y el valor total de ellos.
            <button>consultar</button>
        </li>

        <li>
            Mostrar todos los platos de tipo <input placeholder="Desplegable"> con los restaurantes que lo ofrecen y sus opciones de delivery.
            <button>consultar</button>
        </li>

        <li>
            Mostrar todos los platos de estilo <input placeholder="Desplegable"> con sus restricciones.
            <button>consultar</button>
        </li>

        <li>
            Mostrar todos los restaurantes que el usuaria de email <input placeholder="odiobdd@gmail.com"> tiene disponible con sus suscripciones actuales.
            <button>consultar</button>
        </li>

        <li>
            Mostrar la cantidad de dinero gastada por cada cliente en pedidos no incluidas en planes de suscripcion.
            <button>consultar</button>
        </li>

        <li>
            Mostrar todos los platos y los restaurantes que los ofrecen.
            <button>consultar</button>
        </li>

        <li>
            Mostrar todas las evaluaciones de clientes, delivery y despachador superiores o iguales a 
            <select>
                {% for name in (1,2,3,4,5) %}
                <option>{{ name }}</option>
                {% endfor %}
            </select>.
            <button>consultar</button>
        </li>

        <li>
            Mostrar todos los platos que contengan el alergeno <input> en sus ingredientes.
            <button>consultar</button>
        </li>

    </ol>

    <label for="dog-names">Choose a dog name:</label>
    <select name="dog-names" id="dog-names">
        {% for name in data %}
        <option>{{ name }}</option>
        {% endfor %}
    </select>

</body>

</html>
