<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultas Predefinidas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='menu_styles.css') }}">
</head>

<body>
    <h1 class="title">Consultas Predefinidas</h1>
    <form action="{{ url_for('process_estruct_query')}}" method="post" class="form">
        <ol>
            <!-- Query 1 -->
            <li>
                Mostrar todos los restaurantes que ofrezcan el plato <input type="text" name="text1" id="text1"
                    placeholder="ej: Enchiladas"> y que esté
                disponible.
                <button type="submit" name="button" value="1">consultar</button>
            </li>

            <!-- Query 2 -->
            <li>
                Mostrar todos los pedidos concretados del usuario con email <input type="text" name="text2"
                    placeholder="ej: Elena.Morales@bbdduc.utopia"> y su
                gasto mensual.
                <button type="submit" name="button" value="2">consultar</button>
            </li>

            <!-- Query 3 -->
            <li>
                Mostrar todos los pedidos concretados o cancelados y el valor total de ellos.
                <button type="submit" name="button" value="3">consultar</button>
            </li>

            <!-- Query 4 -->
            <li>
                Mostrar todos los platos de tipo <input type="text" name="text4" placeholder="ej: fast food"> con los
                restaurantes que lo ofrecen y
                sus
                opciones de delivery.
                <button type="submit" name="button" value="4">consultar</button>
            </li>

            <!-- Query 5 -->
            <li>
                Mostrar todos los platos de estilo <input type="text" name="text5" placeholder="ej: fast food"> con
                sus
                restricciones.
                <button type="submit" name="button" value="5">consultar</button>
            </li>

            <!-- Query 6 -->
            <li>
                Mostrar todos los restaurantes que el usuario de email <input type="text" name="text6"
                    placeholder="ej: Andres.Cortes@bbdduc.utopia"> tiene
                disponible con sus suscripciones actuales.
                <button type="submit" name="button" value="6">consultar</button>
            </li>

            <!-- Query 7 -->
            <li>
                Mostrar la cantidad de dinero gastada por cada cliente en pedidos no incluidas en planes de suscripcion.
                <button type="submit" name="button" value="7">consultar</button>
            </li>

            <!-- Query 8 -->
            <li>
                Mostrar todos los platos y los restaurantes que los ofrecen.
                <button type="submit" name="button" value="8">consultar</button>
            </li>

            <!-- Query 9 -->
            <li>
                Mostrar todas las evaluaciones de clientes, delivery y despachador superiores o iguales a
                <select name="text9">
                    {% for i in range(1,6) %}
                    <option value="{{ i|string}}">{{ i }}</option>
                    {% endfor %}
                </select>.
                <button type="submit" name="button" value="9">consultar</button>
            </li>

            <!-- Query 10 -->
            <li>
                Mostrar todos los platos que contengan el alergeno <input type="text" name="text10"
                    placeholder="ej: palta"> en sus
                ingredientes.
                <button type="submit" name="button" value="10">consultar</button>
            </li>

        </ol>

</body>

</html>
